* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    text-align: center;
    background-color: #ffbd07;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

h1 {
    color: black;
}
.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 70px;
}

.btn {
    height: 140px;
    width: 140px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding:5px;
    background-color: aquamarine;
}

.btn i {
    font-size: 60px;
}
#stone {
    background-color: #fa4129;
}

#paper {
    background-color: #4ad907;
}

#scissor {
    background-color:rgb(7, 173, 198);
}
.score-box{
    height:100px;
    width:310px;
    border:2px solid black;
    border-radius: 15px;
    margin-top:60px;
    display:flex;
    justify-content: space-around;
    background-color: #f5ff69;
}
.box{
    font-size:22px;
    margin: 10px;
}
.info{
    margin-top:40px;
    height:82px;
    width:320px;
    background-color: black;
    border-radius: 15px;
    color:white;
    font-size: 30px;
    padding: 8px;
    border:1px solid #f5ff69;
}
.numeric{
    font-size: 45px;
}
#restart {
    margin:30px;
    padding: 10px 20px;
    background-color: #f5ff69;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    border:1px solid black;
}
@media (max-width: 600px) {

    .button-box {
        gap: 10px;
        flex-wrap: wrap;
    }

    .btn {
        height: 90px;
        width: 90px;
    }

    .btn i {
        font-size: 40px;
    }
    .score-box{
        flex-wrap: wrap;
    }
}